<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.11.0/js/tmpl.js"></script>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/circliful/1.2.1/js/jquery.circliful.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/circliful/1.2.1/css/jquery.circliful.css"><link>
           
    <style>
        .card-image {
            width:80px;
            background-image: url("https://halftonepro.com/images/demo-poly1.jpg");
        }
    </style>

    </head>
<body>
    <script>

function secondsToString(seconds)
{
var numyears = Math.floor(seconds / 31536000);
var numdays = Math.floor((seconds % 31536000) / 86400); 
var numhours = Math.floor(((seconds % 31536000) % 86400) / 3600);
var numminutes = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);
var numseconds = (((seconds % 31536000) % 86400) % 3600) % 60;
return numyears + " years " +  numdays + " days " + numhours + " hours " + numminutes + " minutes " + numseconds + " seconds";

}
        /**
 * Converts a long string of bytes into a readable format e.g KB, MB, GB, TB, YB
 * 
 * @param {Int} num The number of bytes.
 */
function readableBytes(bytes) {
    var i = Math.floor(Math.log(bytes) / Math.log(1024)),
    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

    return (bytes / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
}

$.getJSON( "http://localhost:9615", function( data ) {
  var items = [];
  console.log(data["monit"]);
  console.log(data["monit"]["total_mem"]);
  console.log(data["monit"]["free_mem"]);
  console.log(data["processes"]);
  console.log(data["system_info"]["hostname"]);
  console.log(data["system_info"]["uptime"]);

  $.each( data["monit"], function( key, val ) {
    items.push( "<li id='" + key + "'>" + val + "</li>" );
  });

  $( "<ul/>", {
    "class": "my-new-list",
    html: items.join( "" )
  }).appendTo( "body" );
  document.getElementById("result").innerHTML = tmpl("tmpl-demo", data);
});

</script>

<script type="text/x-tmpl" id="tmpl-demo">

    <h2 class="header">{%=o.system_info.hostname%}</h2> 
     {%=secondsToString(Math.floor(o.system_info.uptime))%}</h2>
    <div class="card horizontal">
      <div class="card-image">
      </div>
      <div class="card-stacked">
        <div class="card-content">
<p> 
    <img src="http://icons.iconarchive.com/icons/tpdkdesign.net/refresh-cl/256/System-Memory-icon.png" width="50px" />               Total : {%=readableBytes(o.monit.total_mem)%}
    
    Free : {%=readableBytes(o.monit.free_mem)%}
    Memoire used : 
        <progress value="{%=o.monit.total_mem-o.monit.free_mem%}" max="{%=o.monit.total_mem%}"></progress>
    
                
              </p>

              
    <h4 class="header">Process : </h4>
    
    {% for (var i=0; i<o.processes.length; i++) { %}

    <div class="card horizontal">
            <div class="card-content">

        <li>{%=o.processes[i].name%}</li>
        
       {%=o.processes[i].monit.cpu%} : {%=readableBytes(o.processes[i].monit.memory)%}  <progress value="{%=o.processes[i].monit.memory%}" max="{%=o.monit.total_mem%}"></progress>
            </div>
    </div>
        {% } %}
    
       
       <img src="https://www.computerhope.com/jargon/c/cpu.jpg" width="45px" />
        <h4 class="header">CPU  : </h4>

        {% for (var i=0; i<o.monit.cpu.length; i++) { %}
        <div class="card horizontal">
        <div class="card-content">
                    

        <li>{%=o.monit.cpu[i].model%}</li>
            <li>{%=o.monit.cpu[i].speed%}</li>
            {%=o.monit.cpu[i].times.idle%} : {%=o.monit.cpu[i].times.sys%} :  {%=o.monit.cpu[i].times.user%}
        </div>
    
        </div>
            {% } %}
    
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    
            
    </script>

<div class="container">
    <div class="row">
            <div id="result"></div>
        </div>
</div>
</body>

</html> 